@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: #2e2e2ebc;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  -webkit-border-radius: 1ex;
  border-bottom-right-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: #2e2e2ebc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: #2e2e2ebc;
  color: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F4F4EF;
  box-sizing: border-box;
}

.image_card {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0.375rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.download-button,
.copy-link-button {
  text-align: center;
  padding: 5px 0;
  background-color: #F4F4EE;
  color: #5a5b59;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  width: 95px;
}

.download-button:hover,
.copy-link-button:hover {
  background-color: #f3f3f3;
}

.download-button:active,
.copy-link-button:active {
  background-color: transparent;
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  @apply sm:py-2 py-1 sm:px-4 px-3;
}

.btn-shine {
  position: relative;
  overflow: hidden;
}
.btn-shine:after {
  content: "";
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 0.5);
  position: absolute;
  top: -110%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-1000%, 0, 0) rotate(35deg);
}

.btn-shine:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(500%, 0, 0) rotate(35deg);
}

.brand-link {
  @apply uppercase sm:text-base text-[12px] font-intro text-[#5A5B59];
}
.how_to_mint p {
  @apply text-justify text-base sm:text-[21px] text-[#5A5B59] cursor-default  leading-[153%] xl:leading-[180%];
}

.pagination li {@apply px-3 py-[9.5px] flex items-center h-[38px] ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-[#474744] hover:text-white cursor-default}
